#whatsapp_button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  display: grid;
  place-items: center;
  width: var(--whatsapp-button-size, 80px);
  height: var(--whatsapp-button-size, 80px);
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#whatsapp_button.animate__animated {
  animation-fill-mode: forwards;
}

#whatsapp_button .whatsapp_link {
  background-color: #25d366;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
  display: grid;
  height: 80px;
  height: var(--whatsapp-button-size, 80px);
  place-items: center;
  text-decoration: none;
  width: 80px;
  width: var(--whatsapp-button-size, 80px);
}

#whatsapp_button .whatsapp_link i {
  font-size: var(--whatsapp-icon-size, 50px);
}
